{% extends "base.html" %}
{%block content%} 
<div class="center">
    <h1 id="fir"></h1>
    <div id="sec">
        <input type="text" id="input" placeholder="password" style="text-align: center;"/>
        <br>
        <br>
        <input  type="submit" onclick="checkInput()" value="submit"/>
    </div>
    <form action="/end/" style="display: none;">
        <input id="b" type="submit" value="ss"/>
    </form>
</div>
{% endblock %}
{%block script%} 
<script>
    dispalyText(document.getElementById('fir'), "Lets See Now")
    function checkInput(){
        let a = document.getElementById('input').value;
        if (a === ""){
            setTimeout(() => {
                    document.getElementById('b').click();
            }, 1000);
        }
    }
    function dispalyText(h, text){
        h.innerHTML = "";
        var index = 0;
        setInterval(() => {
        h.innerHTML = h.innerHTML + text.charAt(index);
        index ++;
    }, 100);
    }
</script>
{% endblock %}
